.title {
    font-size: 30px;
    color: rgb(13, 13, 13);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    &_left {
        font-size: 36px;
        color: #fff;
        text-align: left;
    }
}
@media (max-width: 991px) {
    .title {
        font-size: 25px;
        &_left {
            text-align: center;
        }
    }
}
@media (max-width: 575px) {
    .title {
        font-size: 22px;
        &_left {
            margin-top: -20px;
            span {
                display: none;
            }
        }
    }
}